.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 1s;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  height: fit-content;
}

.khan__buy-link::after {
  content: " →";
}

.khan__buy-link:hover {
  opacity: 0.3;
}
